:root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5rem;
}

*,
*::before,
*::after,
html {
  margin: 0;
  padding: 0;
}

body {
  padding: 1.5rem;
}
header,
main,
footer {
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.98rem;
  line-height: 4rem;
  text-align: center;
}

img {
  max-width: 100%;
}
h3 {
  font-size: 2rem;
  line-height: 3rem;
}

p {
  margin: 1.5rem;
}
.cambioCaja {
  text-transform: lowercase;
}
span {
  text-transform: uppercase;
}
.contenedor {
  background-color: aqua;
  display: flex;
  flex-flow: column nowrap;
  height: 600px;
}

.elemento {
  width: 100px;
  height: 100px;
  margin: 0.5rem;
  background-color: burlywood;
}

.contenedor2 {
  background-color: yellowgreen;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.element {
  width: 100px;
  height: 100px;
  margin: 0.5rem;
  background-color: darkorange;
}
.contenedor3 {
  background-color: yellowgreen;
  height: 200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  overflow: auto;
}

.elemen {
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 0.5rem;
  background-color: coral;
  font-size: 1.8rem;
  line-height: 4rem;
}

.uno {
  line-height: 5rem;
  font-size: 3rem;
}
.dos {
  padding-top: 1.5rem;
  line-height: 5rem;
  font-size: 3rem;
}

.contenedor4 {
  background-color: rgb(0, 0, 0);
  width: 600px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  overflow: auto;
  align-items: flex-start;
}

.eleme {
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 0.5rem;
  background-color: rgb(238, 5, 5);
  font-size: 1.8rem;
  line-height: 4rem;
}
.flex-container {
  display: flex;
  background-color: aliceblue;
}
.flex-container > div {
  background-color: dodgerblue;
  color: white;
  width: 100px;
  margin: 0.5rem;
  text-align: center;
  line-height: 5rem;
  font-size: 2rem;
}

div.order {
  background-color: red;
  order: 1;
}
div.order2 {
  background-color: black;
  order: 2;
}

div.grow {
  flex-grow: 1;
  background-color: red;
}

div.grow2 {
  flex-grow: 2;
  background-color: black;
}
div.shrink {
  flex-shrink: 10;
  background-color: greenyellow;
}

div.shrink2 {
  flex-shrink: 2;
  background-color: blueviolet;
}

div.basis {
  flex-basis: 350px;
}
div.paraladiv2 {
  flex: 2 1 150px;
}
